<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
  <!-- Name  -->
  <label for="patientId"> Patient </label>
  <div>
    <ng-select
      [items]="patients()"
      bindLabel="name"
      bindValue="id"
      searchable="true"
      placeholder="Select a patient"
      formControlName="patientId"
      class="new-form"
    />
    <ng-icon name="heroUserPlus" style="width: 18px; height: 18px" />
  </div>

  <!-- Doctor  -->
  <label for="doctorId"> Doctor </label>
  <div>
    <ng-select
      [items]="doctors()"
      bindLabel="name"
      bindValue="id"
      searchable="true"
      placeholder="Select a doctor"
      formControlName="doctorId"
      class="new-form"
    />

    <ng-icon name="heroUser" style="width: 18px; height: 18px" />
  </div>

  <!-- Reason  -->
  <label for="reason"> Reason </label>
  <div>
    <input class="input" formControlName="reason" type="text" id="reason" />
    <ng-icon name="heroHeart" style="width: 18px; height: 18px" />
  </div>

  <!-- Amount  -->
  <label for="amount"> Amount </label>
  <div>
    <input class="input" formControlName="amount" type="s" id="amount" />
    <ng-icon name="heroCurrencyDollar" style="width: 18px; height: 18px" />
  </div>

  <!-- Status  -->
  <label>Status</label>
  <fieldset>
    <section>
      <div class="status">
        <div>
          <input
            formControlName="status"
            value="pending"
            class="status-input"
            type="radio"
            id="pending"
          />
          <label class="pending-label common" for="pending"
            >pending
            <ng-icon name="heroClock" style="width: 18px; height: 18px"
          /></label>
        </div>
        <div>
          <input
            formControlName="status"
            value="paid"
            class="status-input"
            type="radio"
            id="paid"
          />
          <label class="paid-label common" for="paid"
            >paid <ng-icon name="heroCheck" style="width: 18px; height: 18px"
          /></label>
        </div>
      </div>
    </section>
  </fieldset>

  <div class="actions">
    <a routerLink="/invoices">Cancel</a>
    <Button type="submit">Create</Button>
  </div>
</form>
