<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
  <!-- Patient Name  -->
  <label> Patient Name </label>
  <div>
    <input formControlName="name" type="text" />
    <ng-icon name="heroUser" style="width: 18px; height: 18px" />
  </div>

  <!-- Patient Phone  -->
  <label> Patient Phone </label>
  <div>
    <input formControlName="phone" type="text" />
    <ng-icon name="heroPhone" style="width: 18px; height: 18px" />
  </div>

  <div class="actions">
    <a routerLink="/patients">Cancel</a>
    <Button type="submit">Update</Button>
  </div>
</form>
