<main>
  <h1>Invoices</h1>

  <div class="actions">
    <app-search
      (searchTerm)="filterInvoices($event)"
      [placeHolder]="placeHolder"
    />
    <app-add-button text="Add Invoice" link="/invoices/new" />
  </div>

  @defer () {
  <app-table
    [invoices]="invoices()"
    (onDeleteInvoice)="deleteInvoice($event)"
  />
  } @placeholder (minimum 600ms) {
  <skeleton-invoice-table />
  }

  <div class="pagination">
    @defer{

    <app-pagination (pageNumber)="navigateToPage($event)" />
    } @placeholder (minimum 300ms) {
    <div>...</div>
    } @loading {
    <div>loading...</div>
    }
  </div>
</main>
