<main>
  <h2>Latest Invoices</h2>
  <section>
    @for(invoice of latestInvoices(); track $index) {
    <div class="container" [ngClass]="{ border_t: $index !== 0 }">
      <div>
        <div>
          <p>{{ invoice.patientName }}</p>
          <p class="doc">D. {{ invoice.doctorName }}</p>
        </div>
        <p>
          {{ invoice.amount | currency }}
        </p>
      </div>
    </div>
    }
    <div class="status">
      <ng-icon name="heroArrowPath" style="width: 1.25rem; height: 1.25rem" />
      <h3>Updated now</h3>
    </div>
  </section>
</main>
