$gray-200: #e5e7eb;
$gray-500: #6b7280;

div {
  position: relative;
  display: flex;
  flex: 1 1 0%;
  flex-shrink: 0;
}

label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

input {
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid $gray-200;
  padding-block: 9px;
  padding-left: 2.5rem;
  font-size: 0.875rem;
  outline-width: 2px;
}

ng-icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: $gray-500;
}
