div {
  display: grid;
  gap: 1.5rem;
}

// small screen and up
@media (min-width: 640px) {
  div {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

// large screen and up
@media (min-width: 1024px) {
  div {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
