$blue-400: #60a5fa;
$blue-500: #3b82f6;
$blue-600: #2563eb;
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-800: #1f2937;
$gray-900: #111827;
$gray-900: #111827;
$white: #ffffff;

// mobile
.mobile {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  overflow-x: auto;
  border-radius: 0.375rem;
  background: $gray-50;
}

.main {
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 0.375rem;
  background: $white;
  padding: 1rem;
}

.name {
  margin-bottom: 0.5rem;
}
.reason {
  color: $gray-500;
}

.main > div {
  border-bottom: $gray-200 solid 1px;
  padding-block: 1rem;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.invoice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  justify-content: start;
}

.invoice > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}

.bold {
  font-size: 0.875rem;
  font-weight: 600;
}

// large screen
.container {
  background: $gray-50;
  padding: 0.5rem;
  overflow: scroll;
  scroll-behavior: smooth;
  border-radius: 0.375rem;
}

table {
  display: none;
  min-width: 100%;
  border-collapse: collapse;
  color: $gray-900;
}

thead {
  border-radius: 0.5rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
}

th {
  padding-inline: 1rem;
  padding-block: 1.25rem;
  font-weight: 500;
}

tbody {
  color: $gray-900;
}

td {
  white-space: nowrap;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  font-size: 0.875rem;
}

tbody > tr {
  border-top: 1px solid $gray-200;
  background: $white;

  &:first-of-type {
    border-top: none;
  }
}

// meduim screen and up
@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  table {
    display: table;
  }
}
