<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <!-- Patient  -->
  <label for="patientId"> Patient </label>
  <div>
    <ng-select
      [items]="patients()"
      bindLabel="name"
      bindValue="id"
      searchable="true"
      placeholder="Select a patient"
      formControlName="patientId"
      class="new-form"
    />
    <ng-icon name="heroUserPlus" style="width: 18px; height: 18px" />
  </div>

  <!-- Patient validation errors -->
  @if (appointmentForm.controls.patientId.touched) {
  @if(appointmentForm.controls.patientId.errors?.["required"]) {
  <small>*Please select a patient</small>
  } }

  <!-- Doctor  -->
  <label for="doctorId"> Doctor </label>
  <div>
    <ng-select
      [items]="doctors()"
      bindLabel="name"
      bindValue="id"
      searchable="true"
      placeholder="Select a doctor"
      formControlName="doctorId"
      class="new-form"
    />

    <ng-icon name="heroUser" style="width: 18px; height: 18px" />
  </div>

  <!-- Doctor validation errors -->
  @if (appointmentForm.controls.doctorId.touched) {
  @if(appointmentForm.controls.doctorId.errors?.["required"]) {
  <small>*Please select a doctor</small>
  } }

  <!-- Reason  -->
  <label for="reason"> Reason </label>
  <div>
    <input class="input" formControlName="reason" type="text" id="reason" />
    <ng-icon name="heroHeart" style="width: 18px; height: 18px" />
  </div>

  <!-- Reason validation errors -->
  @if (appointmentForm.controls.reason.touched) {
  @if(appointmentForm.controls.reason.errors?.["required"]) {
  <small>*Reason is required</small>
  } @if(appointmentForm.controls.reason.dirty &&
  appointmentForm.controls.reason.errors?.["minlength"]) {
  <small>*Reason must be at least 4 charecters long</small>
  }}

  <!-- Date  -->
  <label for="date"> Appointment Date </label>
  <div>
    <ngx-flatpickr-wrapper
      [config]="options"
      formControlName="appointmentDate"
    />
    <ng-icon name="heroCalendar" style="width: 18px; height: 18px" />
  </div>

  <!-- Date validation errors -->
  @if (appointmentForm.controls.appointmentDate.touched) {
  @if(appointmentForm.controls.appointmentDate.errors?.["required"]) {
  <small>*Please select a valid date</small>
  } }

  <div class="actions">
    <a routerLink="/appointments">Cancel</a>
    <Button type="submit">Create</Button>
  </div>
</form>
