<main>
  <app-logo />
  <section>
    <div class="title-container">
      <p><strong>Peace Dentistry</strong><span> Centre</span></p>
      <a href="/login">
        <span>Log in</span>
        <ng-icon name="heroArrowRight"></ng-icon>
      </a>
    </div>
    <div class="img-container">
      <img
        ngSrc="v1727477469/Peace-dental/ma9bgijuyzz3hbvzqirn.jpg"
        width="1000"
        height="600"
        class="desktop-img"
        alt="picture of a dental clinic"
        priority
      />
      <img
        ngSrc="v1727477469/Peace-dental/ma9bgijuyzz3hbvzqirn.jpg"
        width="580"
        height="480"
        class="mobile-img"
        alt="picture of a dental clinic"
        priority
      />
    </div>
  </section>
</main>
