<main>
  <h1>Summery</h1>
  <div class="filter">
    <revenue-search (searchTerm)="onYearChange($event)" />

    <app-fliter
      [label]="'Month'"
      [data]="months"
      (filterTerm)="onMonthChange($event)"
    />

    <app-fliter
      [label]="'Doctor'"
      [data]="doctors()"
      (filterTerm)="onDoctorChange($event)"
    />
  </div>

  <div>
    @defer () {
    <app-card-wrapper [data]="cardData()" />
    } @placeholder (minimum 600ms) {
    <skeleton-card-wrapper />
    }
  </div>

  <div class="chart">
    @defer () {
    <app-chart [data]="chartData()" />
    } @placeholder (minimum 600ms) {
    <skeleton-chart />
    } @defer () {
    <app-latest-invoices [latestInvoices]="latestInvoices()" />
    } @placeholder (minimum 500ms) {
    <skeleton-invoices-card />
    }
  </div>
</main>
