<main>
  <h1>Summery</h1>
  <div class="filter">
    <revenue-search (searchTerm)="onYearChange($event)" />

    <app-fliter
      [label]="'Month'"
      [data]="months"
      (filterTerm)="onMonthChange($event)"
    />

    <app-fliter
      [label]="'Doctor'"
      [data]="doctors()"
      (filterTerm)="onDoctorChange($event)"
    />
  </div>

  <div>
    @defer (when invoiceStats() != undefined) {
    <app-card-wrapper
      [invoiceStats]="invoiceStats()"
      [patientCount]="patientCount()"
    />
    } @placeholder (minimum 500ms) {
    <skeleton-card-wrapper />
    }
  </div>

  <div class="chart">
    @defer (when chartData().length > 0) {
    <app-chart [data]="chartData()" />
    } @placeholder (minimum 500ms) {
    <skeleton-chart />

    } @defer (when latestInvoices() != undefined) {
    <app-latest-invoices [latestInvoices]="latestInvoices()" />
    } @placeholder (minimum 500ms) {
    <skeleton-invoices-card />
    }
  </div>
</main>
