$blue-500: #3b82f6;
$blue-600: #2563eb;
$white: #ffffff;

a {
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: max-content;
  border-radius: 0.5rem;
  background: $blue-600;
  color: $white;
  padding-inline: 1rem;
  font-size: 0.875rem;
  font-weight: 500;

  &:hover {
    background: $blue-500;
  }
}

span {
  display: none;
}

@media (min-width: 768px) {
  ng-icon {
    margin-left: 1rem;
  }

  span {
    display: block;
  }
}
