/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/flatpickr/dist/flatpickr.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

$gray-200: #e5e7eb;
$red-500: #ef4444;

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//////////
.ng-select.new-form {
  .ng-select-container {
    border-radius: 0.375rem;
    border: 1px solid $gray-200;
    padding-left: 1.75rem;
    margin-bottom: 0.5rem;
  }
}

//////////
ngx-flatpickr-wrapper {
  input {
    width: 100%;
    display: block;
    border-radius: 0.5rem;
    border: 1px solid $gray-200;
    padding-block: 0.5rem;
    padding-left: 2.5rem;
    outline-width: 2px;
  }
}

//////////
#calender {
  background: #f9fafb;
  border-radius: 0.75rem;
  padding-block: 1rem;
  padding-inline: 0.6rem;
  margin-block: 1.5rem;
}

.calender-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-inline: 0.5rem;
  }

  .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    & > div:hover {
      font-weight: 600;
    }
  }

  .cal {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-inline: 1rem;
    background: #fff;
    border-radius: 0.375rem;
  }
}

// skeleton loader

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    animation: shimmer 2s infinite;
    background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent
    );
  }
}

// form error
small {
  color: $red-500;
  font-size: 0.75rem;
}
