$gray-200: #e5e7eb;

div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  display: block;
  width: 6rem;
  border-radius: 0.375rem;
  border: 1px solid $gray-200;
  padding-block: 9px;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  outline-width: 2px;
}
